blinker
click
colorama
Flask
Gunicorn
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
python-dateutil
pytz
six
tzdata
Werkzeug
zipp
#Yeah I removed version numbers, since I was developing on python 3.8, but deploy on 3.7
