<!DOCTYPE html>
<html>
    <title> Lichess Bot Ranking </title>   <!--Make this site look better, but is cool for now-->
    <body>
        <h1>Lichess Bot Ranking</h1>

        <p>
            Made by Pinak aka pythoncrazy. <a href="https://github.com/pythoncrazy/Lichess_Bot_Ranking"> Source code for this website</a>
            You can email me at encryptprogramming @ mgail.com. Of course, to prevent spam, just rearrange the letters to make gmail.com.
            If you want me to add a variant or other information, just message me on lichess at @pinakp7.
        </p>
    </body>
</html>